{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{%block main%}
<table style="width: 100%">
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
    </tr>
        {% for row in rows %}
        <tr>
        <td> {{row['symbol']}}</td>
        <td> {{row['name']}}</td>
        <td> {{row['shares']}}</td>
        <td> {{"$"}} {{row['current']}}</td>
        <td> {{"$"}} {{row['sum']}}</td>
    </tr>
        {% endfor %}
    <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{"$"}} {{cash}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{"$"}} {{cash + holdings}}</td>
    </tr>
</table>

<form action="/cash">
<button class="btn btn-primary" type="submit">Add Cash</button>
</form>
{%endblock%}